extends ../base

block content
  input(placeholder="Old Password")
  input(placeholder="New Password")
  input(placeholder="New Password Confirmation")
  input(type="submit", value ="Change Password")